[Unit]
Description=Starts Hadoop HDFS system
After=network.target sshd.service
Requires=sshd.service

[Service]
EnvironmentFile=/etc/environment
Type=forking
User=hdfs
Group=hdfs
ExecStart=/gdp/hadoop/sbin/start-dfs.sh
ExecStop=/gdp/hadoop/sbin/stop-dfs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
