[Unit]
Description=Starts the Hive Metastore
After=network.target hdfs.service
Requires=hdfs.service

[Service]
EnvironmentFile=/etc/environment
Type=simple
User=hdfs
Group=hdfs
ExecStart=/mdp/hive/bin/hive --service metastore
KillMode=process

[Install]
WantedBy=multi-user.target

