[Unit]
Description=Starts NiFi service
After=network.target

[Service]
EnvironmentFile=/etc/environment
Type=forking
ExecStart=/gdp/nifi/bin/nifi.sh start
ExecStop=/gdp/nifi/bin/nifi.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
