[Unit]
Description=Starts Spark Master
After=network.target hdfs.service
Requires=hdfs.service

[Service]
EnvironmentFile=/etc/environment
Type=forking
User=hdfs
Group=hdfs
ExecStart=/gdp/spark/sbin/start-all.sh
ExecStop=/gdp/spark/sbin/stop-all.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

